.gpt3__footer{
    background: var(--color-footer);
}

/* .gpt3__footer-content {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  padding: 0 0 8rem 1rem;
} */

.gpt3__footer-content-btn{
    text-decoration: none;
    background-color: var(--color-footer);
    border: none;
    color: #FFFFFF;
    font-size: 10px;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
}

.gpt3__footer-down_Section{
    display: flex;
    justify-content: space-around;
}

.gpt3__footer-down_SectionA p{
    color: #FFFFFF;
}

.gpt3__footer-down_SectionB a {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16.41px;
    text-align: left;
    width: 32px;
    height: 17px;
    top: 5255px;
    left: 611px;
    gap: 0px;
    opacity: 0px;
}
