.gpt3__footer-content {
  text-align: center;
  width: 821px;
  height: 150px;
  top: 4796px;
  left: 310px;
  gap: 0px;
  opacity: 0px;
  font-family: Manrope;
  font-size: 62px;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: -0.04em;
  text-align: center;
}
